/* The middle line div needs to 'disappear'.
The bottom line div needs to 'rotate' so that it goes from bottom left to top right.
The top line div needs to 'rotate' so that it goes top left to bottom right. */

.hamburger:hover>div:nth-child(1) {
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover>div:nth-child(2) {
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover>div:nth-child(3) {
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover~nav {
  opacity: 1;
}

/* 45deg */
@keyframes top {
  from {}

  to {
    transform: rotate(45deg) translate(13px);
    transform-origin: left;
  }
}

@keyframes middle {
  from {
    background-color: rebeccapurple
  }

  to {
    background-color: mediumvioletred;
  }
}

/* -45deg */
@keyframes bottom {
  from {}

  to {
    transform: rotate(-45deg) translate(13px);
    transform-origin: left;
  }
}